@font-face {
  font-family: "TT Lakes";
  src: url(/one_three/fonts/TTLakes-Bold.woff);
}

@font-face {
  font-family: "TT Lakes Light";
  src: url(/one_three/fonts/TTLakes-Light.woff);
}

@font-face {
  font-family: "TT Lakes Medium";
  src: url(/one_three/fonts/TTLakes-Medium.woff);
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  font-family: "TT Lakes Medium";
  font-size: 16px;
  line-height: 24px;
}

button {
  border: none;
  background: transparent;
}

header {
  border-bottom: 2px solid #d9fff5;
  height: 90px;
}

footer {
  height: 35px;
}

.navigation {
  position: relative;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  color: #7e7e82;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  height: 88px;
}

.navigation__second-part__icon-call,
.navigation__second-part__icon-chat,
.navigation__second-part__icon-profile {
  display: none;
}

.navigation__first-part__icon-divider{
  display: none;
}

.navigation__first-part {
  position: relative;
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
}
.navigation__second-part {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 88px;
}

.title-main {
  font-family: "TT Lakes";
  letter-spacing: -2px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 15px;
  height: 88px;
  width: 100%;
  background-color: #f8f8f8;
}

.content__header{
  position: relative;
  margin-top: 24px;
  margin-left: 16px;
}

.content__header::before{
  content: "";
  position: absolute;
  left:-15px;
  top: -6px;
  border-radius: 0 4px 4px 0;
  width: 5px;
  height: 32px;
  background-color: #41F6D7;
}

.navigation-icon__repair-checkstatus {
  display: none;
}

.services {
  margin-top: 24px;
}

.services__list {
  display: flex;
  overflow: scroll;
  color: grey;
}

.services__list-item {
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  padding: 8px 16px;
  border-radius: 5px;
  margin-left: 22px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.services__list-item:hover {
  outline: 2px solid #bcf0f7;
  background-color: transparent;
}

.about{
  margin-top: 24px;
}

.about__wrapper{
  margin: 0 16px;
}

.about__text{
  overflow: hidden;
}

.about__text--hidable{
  height: 0;
}

.about__image{
  margin-top: 16px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.read-more{
  display: flex;
}

.about__image img{
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {

  .navigation__second-part__icon-call,
  .navigation__second-part__icon-chat,
  .navigation__second-part__icon-profile {
    display: flex;
    margin-bottom: 7px;
  }
  .navigation__second-part {
    padding-right: 15px;
  }

  .navigation__first-part {
    gap: 20px;
    padding-left: 15px;
  }

  .navigation__first-part__icon-divider{
    display:flex;
  }

 .title-main {
    padding-top: 8px;
    gap: 25px;
  }

  .content__header::before{
    content: "";
    position: absolute;
    left:-15px;
    top: -6px;
    border-radius: 0 4px 4px 0;
    width: 5px;
    height: 32px;
    background-color: #41F6D7;
  }

.services {
  margin-top: 24px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.services__list-item {
  border-radius: 5px;
  margin-left: 22px;
  margin-top: 2px;
  margin-bottom: 2px;
}

  .about{
    display: flex;
    justify-content: space-between;
    margin: 30px 25px 0 5px;
    align-items: flex-start;
  }

  .about__wrapper{
    width: 48%;
  }

  .about__image{
    margin-top: 0;
    width: 48%;
  }

  .about__text--hidable{
    margin-top: 10px;
    height: 75px;
  }

}

@media (min-width: 1120px) {

  header {
    display: none;
  }

.title-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content__header::before{
    content: "";
    position: absolute;
    left:-15px;
    top: -6px;
    border-radius: 0 4px 4px 0;
    width: 5px;
    height: 32px;
    background-color: #41F6D7;
  }
  
  h1{
  margin-left: 30px;
}

 .navigation-icon__repair-checkstatus {
    display: flex;
    align-items: center;
    margin-right: 25px;
  }

  .navigation__second-part__icon-repair,
  .navigation__second-part__icon-checkstatus {
    display: flex;
    align-items: center;
    gap: 10px;
    
  }
  
  .navigation__second-part__icon-repair span,
  .navigation__second-part__icon-checkstatus span {
    font-size: 14px; 
    font-family: TT Lakes Medium
  }

  .navigation__second-part__icon-repair{
    margin-right: 30px
  }

.about__text--hidable{
    height: 80px;
  }

}